<div class='twelve columns'>
  <div class='center'>
    <h1><%= link_to @make.name, models_path(@make), class: 'normalize-link' %></h1>
    <h3>
      <%= @model.name %>
      <%= link_to favorite_model_path(@model), method: :post do %>
        <% if @favorite %>
          <i class='fa fa-heart red-text'></i>
        <% else %>
          <i class='fa fa-heart'></i>
        <% end %>
      <% end %>
    </h3>
  </div>
  <div class='twelve columns margin-bottom-sm'>
    <div class='ten columns offset-by-one'>
      <h3>General Forums</h3>
    </div>
    <% @general.each do |forum| %>
      <div class='ten columns offset-by-one'>
        <span><%= link_to forum.name, posts_path(@make, @model, forum) %></span>
        <span><%= forum.category %></span>
        <span>Posts: <%= forum.number_of_posts %></span>
        <span>Replies: <%= forum.number_of_replies %></span>
        <% if last_post = forum.last_post %>
          <span>Last Post: <%= last_post.body %> <%= last_post.user.username %></span>
        <% else %>
          <span>No Posts</span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
