<div class='twelve columns'>
  <div class='center'>
    <h1><%= link_to @make.name, models_path(@make), class: 'normalize-link' %></h1>
    <h3>
      <%= @model.name %>
      <%= link_to favorite_model_path(@model), method: :post, title: "Favorite #{@model.name}" do %>
        <% if @favorite %>
          <i class='fa fa-star red-link'></i>
        <% else %>
          <i class='fa fa-star empty-star'></i>
        <% end %>
      <% end %>
    </h3>
  </div>
  <div class='twelve columns margin-bottom-sm'>
    <div class='ten columns offset-by-one'>
      <h3 class='margin-bottom-md'>General Forums</h3>
    </div>
    <% @general.each do |forum| %>
      <div class='ten columns offset-by-one'>
        <div class='eight columns'>
          <h5><%= link_to forum.name, posts_path(@make, @model, forum) %></h5>
          <h6><%= forum.description %></h6>
        </div>
        <div class='four columns'>
          <span>Posts: <%= forum.number_of_posts %></span>
          <br>
          <span>Replies: <%= forum.number_of_replies %></span>
          <br>
          <% if last_post = forum.last_post %>
            <span>Last Post:
              <%= link_to last_post.body.truncate(25), replies_path(last_post.forum.model.make, last_post.forum.model, last_post.forum.id, last_post.id) %>
              <br>
              <%= time_ago_in_words(last_post.created_at) %> ago
              <br>
              by: <%= link_to last_post.user.username, user_show_path(last_post.user.username) %></span>
          <% else %>
            <span>No Posts</span>
          <% end %>
        </div>
        <div class='twelve columns'>
          <hr>
        </div>
      </div>
    <% end %>
  </div>

  <div class='twelve columns margin-bottom-sm'>
    <div class='ten columns offset-by-one'>
      <h3 class='margin-bottom-md'>Technical Forums</h3>
    </div>
    <% @technical.each do |forum| %>
      <div class='ten columns offset-by-one'>
        <div class='eight columns'>
          <h5><%= link_to forum.name, posts_path(@make, @model, forum) %></h5>
          <h6><%= forum.description %></h6>
        </div>
        <div class='four columns'>
          <span>Posts: <%= forum.number_of_posts %></span>
          <br>
          <span>Replies: <%= forum.number_of_replies %></span>
          <br>
          <% if last_post = forum.last_post %>
            <span>Last Post:
              <%= link_to last_post.body.truncate(25), replies_path(last_post.forum.model.make, last_post.forum.model, last_post.forum.id, last_post.id) %>
              <br>
              <%= time_ago_in_words(last_post.created_at) %> ago
              <br>
              <%= link_to last_post.user.username, user_show_path(last_post.user.username) %></span>
          <% else %>
            <span>No Posts</span>
          <% end %>
        </div>
        <div class='twelve columns'>
          <hr>
        </div>
      </div>
    <% end %>
  </div>

  <div class='twelve columns margin-bottom-sm'>
    <div class='ten columns offset-by-one'>
      <h3 class='margin-bottom-md'>Classified Forums</h3>
    </div>
    <% @classified.each do |forum| %>
      <div class='ten columns offset-by-one'>
        <div class='eight columns'>
          <h5><%= link_to forum.name, posts_path(@make, @model, forum) %></h5>
          <h6><%= forum.description %></h6>
        </div>
        <div class='four columns'>
          <span>Posts: <%= forum.number_of_posts %></span>
          <br>
          <span>Replies: <%= forum.number_of_replies %></span>
          <br>
          <% if last_post = forum.last_post %>
            <span>Last Post:
              <%= link_to last_post.body.truncate(25), replies_path(last_post.forum.model.make, last_post.forum.model, last_post.forum.id, last_post.id) %>
              <%= time_ago_in_words(last_post.created_at) %> ago
              <br>
              <%= link_to last_post.user.username, user_show_path(last_post.user.username) %></span>
          <% else %>
            <span>No Posts</span>
          <% end %>
        </div>
        <div class='twelve columns'>
          <hr>
        </div>
      </div>
    <% end %>
  </div>
</div>
