<div class='twelve columns'>
  <div class='center margin-bottom-lg'>
    <h1>
      <%= link_to @make.name, models_path(@make), class: 'normalize-link' %>
      <%= link_to @model.name, forums_path(@make, @model), class: 'normalize-link' %>
    </h1>
    <h3>
      <%= link_to @forum.name, posts_path(@make, @model, @forum), class: 'normalize-link' %>
      <%= link_to favorite_post_path(@post), method: :post do %>
        <% if @favorite %>
          <i class='fa fa-heart red-text'></i>
        <% else %>
          <i class='fa fa-heart'></i>
        <% end %>
      <% end %>
    </h3>
    <span><%= @forum.category %> Forums</span>
  </div>

  <div class='six columns offset-by-three'>
    <h4><%= @post.subject %></h4>
    <p><%= @post.body %></p>
    <span><%= @post.user.username %> <%= @post.created_at %></span>
  </div>
  <% @replies.each do |reply| %>
    <div class='six columns offset-by-three'>
      <%= time_ago_in_words(reply.created_at) %> ago <%= reply.body %> <%= link_to reply.user.username, user_show_path(reply.user.username) %>
    </div>
  <% end %>
</div>

<div class='twelve columns center margin-top-lg'>
  <% if signed_in? %>
    <button id='new-reply-btn' class='btn'>Reply</button>
  <% else %>
    <%= link_to 'Log In To Reply', new_user_session_path(return_url: request.path), class: 'btn button' %>
  <% end %>
</div>

<div class='six columns offset-by-three new-post-container'>
  <%= form_for(@new_reply) do |f| %>
    <%= f.label :body %>
    <%= f.text_area :body %>
    <%= f.submit 'Submit', data: {disable_with: 'Saving...'} %>
    <span id='cancel-new-reply' class='btn button btn-danger'>Cancel</span>
  <% end %>
</div>
