<div class='twelve columns'>
  <div class='center margin-bottom-lg'>
    <h1>
      <%= link_to @make.name, models_path(@make.name), class: 'normalize-link' %>
      <%= link_to @model.name, forums_path(@make.name, @model.name), class: 'normalize-link' %>
    </h1>
    <h4>
      <%= link_to @forum.name, posts_path(@make.name, @model.name, @forum), class: 'normalize-link' %>
      <%= link_to favorite_post_path(@post), method: :post, title: "Favorite #{@post.subject}" do %>
        <% if @favorite %>
          <i class='fa fa-star red-link'></i>
        <% else %>
          <i class='fa fa-star empty-star'></i>
        <% end %>
      <% end %>
    </h4>
    <span><%= @forum.category %> Forums</span>
    <div class='twelve columns center margin-top-lg'>
      <% if signed_in? %>
        <button id='' class='btn new-reply-btn'>Reply</button>
      <% else %>
        <%= link_to 'Log In To Reply', new_user_session_path(return_url: request.path), class: 'btn button' %>
      <% end %>
    </div>
  </div>

  <div class='twelve columns'>
    <div class='ten columns offset-by-one'>
      <div class='ten columns offset-by-one padding-sm'>
        <h3><%= @post.subject %></h4>
        <p><%= @post.body %></p>
        <%= link_to @post.user.username, user_show_path(@post.user.username) %>
        <span class='right sans-serif'><%= friendly_time(@post.created_at) %></span>
        <div class='twelve columns'>
          Posts: <%= link_to @post.user.posts.length, user_posts_path(@post.user.username) %>
          <br>
          Replies: <%= link_to @post.user.replies.count, user_replies_path(@post.user.username) %>
        </div>
        <div class='twelve columns'>
          <hr class='hr-fill-padding'>
        </div>
      </div>
    </div>

    <% @replies.each do |reply| %>
      <div class='eight columns offset-by-two padding-sm'>
        <p><%= reply.body %></p>
        <%= link_to reply.user.username, user_show_path(reply.user.username) %>
        <span class='right sans-serif'><%= friendly_time(reply.created_at) %></span>
        <div class='twelve columns'>
          Posts: <%= link_to reply.user.posts.length, user_posts_path(reply.user.username) %>
          <br>
          Replies: <%= link_to reply.user.replies.count, user_replies_path(reply.user.username) %>
        </div>
        <div class='twelve columns'>
          <hr class='hr-fill-padding'>
        </div>
      </div>
    <% end %>
  </div>

  <div class='twelve columns center'>
    <% if signed_in? %>
      <button id='' class='btn new-reply-btn'>Reply</button>
    <% else %>
      <%= link_to 'Log In To Reply', new_user_session_path(return_url: request.path), class: 'btn button' %>
    <% end %>
  </div>

  <div class='six columns offset-by-three new-post-container'>
    <%= form_for(@new_reply) do |f| %>
      <h3 class='center'>Reply</h3>
      <%= f.text_area :body, placeholder: 'Message', required: true %>
      <%= f.submit 'Submit', data: {disable_with: 'Saving...'} %>
      <span id='cancel-new-reply' class='btn button btn-danger'>Cancel</span>
    <% end %>
  </div>
</div>
