<div class='eight columns offset-by-two'>
	<h1 class='center'>Posts</h1>
	<% if posts.any? %>
		<div class='center'>
			<%= will_paginate @posts, previous_label: "<i class='fa fa-arrow-left'></i>", next_label: "<i class='fa fa-arrow-right'></i>", param_name: "posts_page" %>
		</div>
		<% posts.each do |post| %>
			<span>
				<%= post.forum.model.make.name %> | 
				<%= post.forum.model.name %> | 
				<%= post.forum.name %>
			</span>
			<%= link_to replies_path(post.forum.model.make, post.forum.model, post.forum, post) do %>
				<h5 class='margin-top-sm search-results'><%= post.subject %></h5>
			<% end %>
			<span class='search-results'><%= post.body %></span>
			<hr>
		<% end %>
	<% else %>
		<h5 class='center'>No Results</h5>
	<% end %>
</div>
