<div class='eight columns offset-by-two'>
	<h1 class='center'>Replies</h1>
	<% if replies.any? %>
		<div class='search-results'>
			<% replies.each do |reply| %>
				<span>
					<%= reply.post.forum.model.make.name %> | 
					<%= reply.post.forum.model.name %> | 
					<%= reply.post.forum.name %> | 
					
				</span>
				<%= reply.post.subject %>
				<h6 class='margin-top-sm'><%= link_to reply.body, replies_path(reply.post.forum.model.make, reply.post.forum.model, reply.post.forum, reply.post) %></h6>
			<% end %>
		</div>
	<% else %>
		<h5 class='center'>No Results</h5>
	<% end %>
	<div class='center'>
		<%= will_paginate @replies, previous_label: "<i class='fa fa-arrow-left'></i>", next_label: "<i class='fa fa-arrow-right'></i>", param_name: "replies_page" %>
	</div>
</div>
