<div class='twelve columns'>
	<h1 class='center'>Search</h1>
	<% if params[:term] %>
		<h5 class='center'>Results for <%= params[:term] %></h5>
	<% end %>
	<div class='six columns offset-by-three'>
		<%= render 'shared/search' %>
	</div>

	<div class='twelve columns'>
		<div class='eight columns offset-by-two center'>
			<h1>Makes</h1>
			<% if @makes.any? %>
				<% @makes.each do |make| %>
					<h5><%= link_to make.name, models_path(make) %></h5>
				<% end %> 
			<% else %> 
				<h5>No Results</h5>
			<% end %>
		</div>

		<div class='eight columns offset-by-two center'>
			<h1>Models</h1>
			<% if @models.any? %>
				<% @models.each do |model| %>
					<h5><%= link_to model.name, forums_path(model.make, model) %></h5>
				<% end %>
			<% else %>
				<h5>No Results</h5>
			<% end %>
		</div>

		<div class='twelve columns'>
			<div id='posts'></div>
			<div id='replies'></div>
		</div>
	</div>
</div>


<script>
	var searchTerm = "<%= params[:term] %>" 
</script>
