	<%= link_to 'Compose', new_conversation_path, class: 'button btn' %>
	<br>

	<%= link_to conversations_inbox_path do %>
		<% style = current_page?(:controller => 'conversations', :action => 'inbox') ? 'bold' : '' %>
			<span class="<%= style %>">Inbox <%= "(#{current_user.mailbox.inbox.unread(current_user).count})" if current_user.mailbox.inbox.unread(current_user).count > 0 %></span> | 
	<% end %>

	<%#= link_to conversations_path do %>
		<!-- All Conversations: <%#= current_user.mailbox.conversations.count %> |  -->
	<%# end %>

	<%= link_to conversations_sent_path do %>
	<% style = current_page?(:controller => 'conversations', :action => 'sent') ? 'bold' : '' %>
		<span class="<%= style %>">Sent</span> | 
	<% end %>

	<%= link_to conversations_trash_path do %>
	<% style = current_page?(:controller => 'conversations', :action => 'trash') ? 'bold' : '' %>
		<span class="<%= style %>">Trash</span>
	<% end %>
