<h3 class='center'><%= link_to "#{@user.username}'s", user_show_path(@user.username), class: 'normalize-link' %> posts</h3>
<div class='center'>
  <%= will_paginate @posts, previous_label: "<i class='fa fa-arrow-left'></i>", next_label: "<i class='fa fa-arrow-right'></i>" %>
</div>
<br>
<% posts.each do |post| %>
  <%
    make = post.forum.model.make
    model = post.forum.model
    forum = post.forum
  %>
  <h5>
    <%= link_to make.name, models_path(make.name), class: 'normalize-link' %> |
    <%= link_to model.name, forums_path(make.name, model.name), class: 'normalize-link' %> |
    <%= link_to forum.name, posts_path(make.name, model.name, forum), class: 'normalize-link' %> |
    <%= post.forum.category %>
  </h5>
  <%= link_to post.subject, replies_path(make.name, model.name, forum, post) %>
  <p><%= post.body %></p>
  <span><%= time_ago_in_words(post.created_at) %> ago</span>
  <hr>
<% end %>
<div class='center'>
  <%= will_paginate @posts, previous_label: "<i class='fa fa-arrow-left'></i>", next_label: "<i class='fa fa-arrow-right'></i>" %>
</div>
