<div class='twelve columns'>
  <div class='twelve columns margin-bottom-lg'>
    <div class='eight columns'>
      <h1><%= @user.username %></h1>
      <%= image_tag(@user.avatar.thumb) %>
      <br>
      <% if signed_in? && @user.id == current_user.id %>
        <%= link_to edit_user_registration_path do %>
          <i class='fa fa-edit'></i> Edit Account
        <% end %>
      <% end %>
      <br>
      <span>Total Posts: <%= link_to @user.posts_count, user_posts_path(@user.username) %></span>
      <br>
      <span>Total Replies: <%= link_to @user.replies_count, user_replies_path(@user.username) %></span>
    </div>
    <div class='four columns'>
      <% if signed_in? && @user.id == current_user.id %>
          <h3>My Messages</h3>
          <%= link_to 'Messages', conversations_path(current_user.username), class: 'btn button' %>
      <% else %>
        <span class='btn button'>Send Message</span>
      <% end %>
    </div>
  </div>

  <div class='four columns'>

    <div class='margin-bottom-lg'>
      <h3>Vehicles</h3>
      <% if @vehicles.any? %>
        <% @vehicles.each do |vehicle| %>
          <div class='twelve columns'>
            <div class='eleven columns margin-left-none'>
              <h5 class='margin-bottom-none'><strong><%= vehicle.year %> <%= vehicle.make %> <%= vehicle.model %></strong></h5>
              <span class='breaks'><%= "Trim: #{vehicle.trim} \n" if vehicle.trim.present? %></span>
              <span class='breaks'><%= "Transmission: #{vehicle.transmission} \n" if vehicle.trim.present? %></span>
              <span class='breaks'><%= "Engine: #{vehicle.engine} \n" if vehicle.engine.present? %></span>
              <span class='breaks'><%= "Exterior: #{vehicle.exterior_color} \n" if vehicle.exterior_color.present? %></span>
              <span class='breaks'><%= "Interior: #{vehicle.interior_color} \n" if vehicle.interior_color.present? %></span>
              <span class='breaks'><%= "Comments: \n #{vehicle.comments} \n" if vehicle.comments.present? %></span>
            </div>
          </div>

          <% if signed_in? && current_user.id = @user.id %>
            <div class='twelve columns'>
              <div class='twelve columns margin-left-none'>
                <span class='edit-vehicle-btn pointer' title='edit'><i class='fa fa-edit'></i></span>
                <%= link_to delete_vehicle_path(vehicle), class: 'red-link margin-left-sm', method: :delete,
                                        confirm: "Are you sure you want to delete #{vehicle.year} #{vehicle.make} #{vehicle.model}?", title: 'delete' do %>
                  <i class='fa fa-trash'></i>
                <% end %>

                <%= form_for(vehicle) do |f| %>
                  <%= f.text_field :year, placeholder: 'Year', required: true %>
                  <%= f.text_field :make, placeholder: 'Make', required: true %>
                  <%= f.text_field :model, placeholder: 'Model', required: true %>
                  <%= f.text_field :trim, placeholder: 'Trim' %>
                  <%= f.text_field :transmission, placeholder: 'Transmission' %>
                  <%= f.text_field :engine, placeholder: 'Engine' %>
                  <%= f.text_field :exterior_color, placeholder: 'Exterior Color' %>
                  <%= f.text_field :interior_color ,placeholder: 'Interior Color' %>
                  <%= f.text_area :comments, placeholder: 'Comments' %>
                  <%= f.button 'Save', class: 'btn', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving"} %>
                  <span class='cancel-edit-vehicle button btn btn-danger'>Cancel</span>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p>No Vehicles Added</p>
      <% end %>

      <% if signed_in? && @user.id == current_user.id %>
        <div class='twelve columns margin-bottom-md margin-top-md'>
          <span id='new-vehicle-btn' class='btn button'>Add Vehicle</span>
        </div>
        <div class='twelve columns'>
          <div class='twelve columns margin-left-none'>
            <%= form_for(@new_vehicle) do |f| %>
              <h5>Add Vehicle</h5>
              <%= f.text_field :year, placeholder: 'Year', required: true %>
              <%= f.text_field :make, placeholder: 'Make', required: true %>
              <%= f.text_field :model, placeholder: 'Model', required: true %>
              <%= f.text_field :trim, placeholder: 'Trim' %>
              <%= f.text_field :transmission, placeholder: 'Transmission' %>
              <%= f.text_field :engine, placeholder: 'Engine' %>
              <%= f.text_field :exterior_color, placeholder: 'Exterior Color' %>
              <%= f.text_field :interior_color ,placeholder: 'Interior Color' %>
              <%= f.text_area :comments, placeholder: 'Comments' %>
              <%= f.button 'Save Vehicle', class: 'btn', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Saving"} %>
              <span class='btn btn-danger button' id='cancel-new-vehicle'>Cancel</span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

  </div>

  <div class='eight columns favorites margin-bottom-lg'>
    <div class='twelve columns'>
      <div class='six columns'>
        <h3>Favorite Makes</h3>
        <% if @fav_makes.any? %>
          <% @fav_makes.each do |fav| %>
            <%= link_to fav.favoritable.name, models_path(fav.favoritable.name) %>
            <br><br>
          <% end %>
        <% else %>
          <p>No Favorite Makes</p>
        <% end %>
      </div>

      <div class='six columns'>
        <h3>Favorite Models</h3>
        <% if @fav_models.any? %>
          <% @fav_models.each do |fav| %>
            <%= fav.favoritable.make.name %><br>
            <%= link_to fav.favoritable.name, forums_path(fav.favoritable.make.name, fav.favoritable.name) %>
            <br><br>
          <% end %>
        <% else %>
          <p>No Favorite Models</p>
        <% end %>
      </div>
    </div>

    <div class='twelve columns'>
      <div class='six columns'>
        <h3>Favorite Forums</h3>
        <% if @fav_forums.any? %>
          <% @fav_forums.each do |fav| %>
            <%= fav.favoritable.model.make.name %> | <%= fav.favoritable.model.name %><br>
            <%= link_to fav.favoritable.name, posts_path(fav.favoritable.model.make.name, fav.favoritable.model.name, fav.favoritable) %>
            <br><br>
          <% end %>
        <% else %>
          <p>No Favorite Forums</p>
        <% end %>
      </div>

      <div class='six columns'>
        <h3>Favorite Posts</h3>
        <% if @fav_posts.any? %>
          <% @fav_posts.each do |fav| %>
            <%= fav.favoritable.forum.model.make.name %> | <%= fav.favoritable.forum.model.name %> | <%= fav.favoritable.forum.name %><br>
            <%= link_to fav.favoritable.subject, replies_path(fav.favoritable.forum.model.make.name, fav.favoritable.forum.model.name, fav.favoritable.forum_id, fav.favoritable) %>
            <br><br>
          <% end %>
        <% else %>
          <p>No Favorite Posts</p>
        <% end %>
      </div>
    </div>
  </div>

</div>
