<div class='twelve columns'>

  <div class='twelve columns margin-bottom-lg'>
    <div class='ten columns'>
      <h1><%= @user.username %></h1>
    </div>
  </div>

  <div class='six columns'>
    <% if signed_in? %>
      <% if @user == current_user %>
        <h3>My Messages</h3>
        <%= link_to 'Messages', all_messages_path(current_user.username), class: 'btn button' %>
      <% else %>
        <p>Send Message</p>
      <% end %>
    <% end %>

    <h3>Vehicles</h3>
    <% if signed_in? && current_user.id == @user.id %>
      <div class='twelve columns'>
        <span id='new-vehicle-btn' class='btn button'>Add Vehicle</span>
      </div>
      <div class='twelve columns'>
        <div class='six columns margin-left-none'>
          <%= form_for(@new_vehicle) do |f| %>
            <h5>Add Vehicle</h5>
            <%= f.text_field :year, placeholder: 'Year', required: true %>
            <%= f.text_field :make, placeholder: 'Make', required: true %>
            <%= f.text_field :model, placeholder: 'Model' %>
            <%= f.text_field :trim, placeholder: 'Trim' %>
            <%= f.text_field :transmission, placeholder: 'Transmission' %>
            <%= f.text_field :engine, placeholder: 'Engine' %>
            <%= f.text_field :exterior_color, placeholder: 'Exterior Color' %>
            <%= f.text_field :interior_color ,placeholder: 'Interior Color' %>
            <%= f.text_area :comments, placeholder: 'Comments' %>
            <%= f.submit 'Save Vehicle'%>
            <span class='btn btn-danger button' id='cancel-new-vehicle'>Cancel</span>
          <% end %>
        </div>
      </div>
      <% @vehicles.each do |vehicle| %>
        <div class='twelve columns'>
          <div class='three columns margin-left-none'>
            <h5><strong><%= vehicle.year %> <%= vehicle.make %> <%= vehicle.model %></strong></h5>
            <p><%= "Trim: #{vehicle.trim}" if vehicle.trim.present? %></p>
            <p><%= "Transmission: #{vehicle.transmission}" if vehicle.trim.present? %></p>
            <p><%= "Engine: #{vehicle.engine}" if vehicle.engine.present? %></p>
            <p><%= "Exterior: #{vehicle.exterior_color}" if vehicle.exterior_color.present? %></p>
            <p><%= "Interior: #{vehicle.interior_color}" if vehicle.interior_color.present? %></p>
            <p class='breaks'><%= "Comments: \n #{vehicle.comments}" if vehicle.comments.present? %></p>
          </div>
        </div>
        <div class='twelve columns'>
          <div class='six columns margin-left-none'>
            <% if signed_in? && current_user.id = @user.id %>
              <%= link_to 'Delete', delete_vehicle_path(@user, vehicle), method: :delete, class: 'red-text' %>
              <span class='edit-vehicle-btn pointer margin-left-sm'>Edit</span>
            <% end %>
            <%= form_for(vehicle) do |f| %>
              <%= f.text_field :year %>
              <%= f.text_field :make %>
              <%= f.text_field :model %>
              <%= f.text_field :trim %>
              <%= f.text_field :transmission %>
              <%= f.text_field :engine %>
              <%= f.text_field :exterior_color %>
              <%= f.text_field :interior_color %>
              <%= f.text_area :comments %>
              <%= f.submit 'Save' %>
              <span class='cancel-edit-vehicle button btn btn-danger'>Cancel</span>
            <% end %>
          </div>
          <div class='twelve columns'>
            <div class='three columns margin-left-none'>
              <hr>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class='six columns'>
    <div class='twelve columns'>
      <h3>Favorite Makes</h3>
      <% @makes.each do |fav| %>
        <%= link_to fav.favoritable.name, models_path(fav.favoritable.id) %>
        <br><br>
      <% end %>
    </div>

    <div class='twelve columns'>
      <h3>Favorite Models</h3>
      <% @models.each do |fav| %>
        <%= fav.favoritable.make.name %><br>
        <%= link_to fav.favoritable.name, forums_path(fav.favoritable.make_id, fav.favoritable.id) %>
        <br><br>
      <% end %>
    </div>

    <div class='twelve columns'>
      <h3>Favorite Forums</h3>
      <% @forums.each do |fav| %>
        <%= fav.favoritable.model.make.name %> | <%= fav.favoritable.model.name %><br>
        <%= link_to fav.favoritable.name, posts_path(fav.favoritable.model.make_id, fav.favoritable.model_id, fav.favoritable) %>
        <br><br>
      <% end %>
    </div>

    <div class='twelve columns'>
      <h3>Favorite Posts</h3>
      <% @posts.each do |fav| %>
        <%= fav.favoritable.forum.model.make.name %> | <%= fav.favoritable.forum.model.name %> | <%= fav.favoritable.forum.name %><br>
        <%= link_to fav.favoritable.subject, replies_path(fav.favoritable.forum.model.make_id, fav.favoritable.forum.model_id, fav.favoritable.forum_id, fav.favoritable) %>
        <br><br>
      <% end %>
    </div>

  </div>

</div>
