<div class='side-menu'>
  <ul class='side-menu-links'>
    <% if signed_in? %>
      <li><h3 class='username'><%= link_to current_user.username, user_show_path(current_user.username) %></h3></li>
      <li><%= link_to 'My Profile', user_show_path(current_user.username) %></li>
      <li><%= link_to 'My Messages', conversations_path %></li>
      <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <h3>Welcome, Guest!</h3>
      <li><%= link_to 'Log In', new_user_session_path %></li>
      <li><%= link_to 'Sign Up', new_user_registration_path %></li>
    <% end %>
  </ul>
  <%= render 'shared/search' %>
</div>
