<div class='twelve columns'>
  <div class='center'>
    <h1>
      <%= link_to @make.name, models_path(@make.name), class: 'normalize-link' %>
      <%= link_to @model.name, forums_path(@make.name, @model.name), class: 'normalize-link' %>
    </h1>
    <h4>
      <%= @forum.name %>
      <%= link_to favorite_forum_path(@forum), method: :post, title: "Favorite #{@forum.name}" do %>
        <% if @favorite %>
          <i class='fa fa-star red-link'></i>
        <% else %>
          <i class='fa fa-star empty-star'></i>
        <% end %>
      <% end %>
    </h4>
    <span><%= @forum.category %> Forums</span>
  </div>

  <div class='twelve columns center margin-top-lg'>
    <% if signed_in? %>
      <button id='new-post-btn' class='btn'>New Post</button>
      <div class='six columns offset-by-three'>
        <%= form_for(@new_post) do |f| %>
          <h3 class='center'>Post</h3>
          <%= f.text_field :subject, placeholder: 'Subject' %>
          <%= f.text_area :body, placeholder: 'Message' %>
          <%= f.submit 'Submit', class: 'left', data: {disable_with: 'Saving...'} %>
          <span id='cancel-new-post' class='btn button btn-danger'>Cancel</span>
        <% end %>
      </div>
    <% else %>
      <%= link_to 'Log In To Post', new_user_session_path(return_url: request.path), class: 'btn button' %>
    <% end %>
  </div>


  <div class='twelve columns'>
    <div class='ten columns offset-by-one'>
      <h3 class='margin-bottom-md'><%= @posts.any? ? 'Posts' : 'No Posts Yet'</h3>
    </div>
    <% @posts.each do |post| %>
      <div class='ten columns offset-by-one'>
        <div class='eight columns'>
          <h5><%= link_to post.subject, replies_path(@make.name, @model.name, @forum, post) %></h5>
          <h6><%= post.body.truncate(50) %></h6>
          <%= link_to post.user.username, user_show_path(post.user.username) %>
        </div>
        <div class='four columns'>
          <span>Replies: <%= post.number_of_replies %></span>
          <br>
          <% if last_reply = post.last_reply %>
            <span>Last Post:
              <%= link_to last_reply.body.truncate(25), replies_path(last_reply.post.forum.model.make.name, last_reply.post.forum.model.name, last_reply.post.forum.id, last_reply.id) %>
              <br>
              <%= time_ago_in_words(last_reply.created_at) %> ago
              <br>
              <%= link_to last_reply.user.username, user_show_path(last_reply.user.username) %></span>
          <% else %>
            <span>No Posts</span>
          <% end %>
        </div>
        <div class='twelve columns'>
          <hr>
        </div>
      </div>
    <% end %>
  </div>
</div>
