<div class='twelve columns'>
  <div class='center'>
    <h1>
      <%= link_to @make.name, models_path(@make), class: 'normalize-link' %>
      <%= link_to @model.name, forums_path(@make, @model), class: 'normalize-link' %>
    </h1>
    <h4>
      <%= @forum.name %>
      <%= link_to favorite_forum_path(@forum), method: :post do %>
        <% if @favorite %>
          <i class='fa fa-heart red-text'></i>
        <% else %>
          <i class='fa fa-heart'></i>
        <% end %>
      <% end %>
    </h4>
    <% if signed_in? %>
      <button id='new-post-btn' class='btn'>New Post</button>
    <% else %>
      <%= link_to 'Log In To Post', new_user_session_path(return_url: request.path), class: 'btn button' %>
    <% end %>
  </div>


  <div class='six columns offset-by-three new-post-container'>
    <%= form_for(@new_post) do |f| %>
      <%= f.label :subject %>
      <%= f.text_field :subject %>
      <%= f.label :body %>
      <%= f.text_area :body %>
      <%= f.submit 'Submit' %>
      <span id='cancel-new-post' class='btn button btn-danger'>Cancel</span>
    <% end %>
  </div>


  <div class='twelve columns'>
    <% @posts.each do |post| %>
      <div class='six columns offset-by-three'>
        <p><%= link_to post.subject, replies_path(@make, @model, @forum, post) %></p>
        <p><%= post.body %></p>
        <p><%= post.user.username %></p>
        <% if last_reply = post.last_reply %>
          <p>Last Reply: <%= last_reply.user.username %> <%= last_reply.body.truncate(15) %></p>
        <% else %>
          <p>No Replies</p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
