<div class='twelve columns nav'>

  <div class='nav-left'>
    <%= link_to root_path, class: 'nav-brand' do %>
      <%= image_tag('gearhead-gold-64x64.png') %>
    <% end %>
  </div>

  <%= link_to root_path, class: 'nav-brand' do %>
    <h4>Talking Cars</h4>
  <% end %>


  <div class='nav-right'>
    <ul class='nav-links'>
      <% if signed_in? %>
        <li><%= link_to current_user.username, user_show_path(current_user.username) %></li>
        <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Log In', new_user_session_path %></li>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</div>
