<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application', async: Rails.env.production? %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffbf00">
    <meta name="theme-color" content="#ffffff">

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class='wrapper'>
      <% if Rails.env.development? %>
        <div class='debugger'>
          <%= debug(params) %>
        </div>
      <% end %>
    <%= render 'shared/flash_messages' %>
      <%= render 'shared/side_menu' %>
      <% if Rails.env.production? %>
        <div class='admin-message center six columns offset-by-three'>
          <p>Currently Testing. Once this is complete, all makes and models will be available.</p>
          <p class='right margin-bottom-none'>-Garrett</p>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <div class='clearfix'></div>
    <%= render 'shared/footer' %>
  </body>
</html>
